body{
    margin: 0px;
    background-image: url(todo_background.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: rgb(26, 88, 102);
    font-size: 15px;
    text-align: center;
}
nav {
    font-family: verdana, arial;
    font-size: 20px;
    background: rgb(26, 88, 102);
    display: flex;
    justify-content: start;
    padding: 5px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0,3);
}
nav > a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
}
nav > a:hover {
    transition: 0.25s;
    background: rgb(56, 138, 209);
    color: white;
}
#d1 {
    text-align: center;
    margin-bottom: 5%;
}
#d0 {
    margin: 25px;
}